In [13]:
import pandas as pd
import requests

# url de acesso API
url = 'http://educacao.dadosabertosbr.com/api/escolas/buscaavancada?situacaoFuncionamento=1&energiaInexistente=on&aguaInexistente=on&esgotoInexistente=on&cozinha=on'
    
# requisitando os dados da API
resposta = requests.get(url)

# criando dataframe
df = pd.DataFrame(resposta.json()[1])

# ver primeiras linhas 5
df.head()

,anoCenso,cidade,cod,codCidade,dependenciaAdministrativa,dependenciaAdministrativaTxt,enemMediaGeral,estado,idebAF,idebAI,nome,regiao,situacaoFuncionamento,situacaoFuncionamentoTxt
0,2013,CANDIDO DE ABREU,41036026,4104402,3,Municipal,0.0,PR,0.0,0.0,BAIRRO DOS MENDES E R M EF,Sul,1,Em atividade
1,2013,MONTE ALEGRE,15008258,1504802,3,Municipal,0.0,PA,0.0,0.0,E M E F AGUA AZUL,Norte,1,Em atividade
2,2013,PLACAS,15534340,1505650,3,Municipal,0.0,PA,0.0,0.0,E M E F AGUA BOA,Norte,1,Em atividade
3,2013,NOVO REPARTIMENTO,15525821,1505064,3,Municipal,0.0,PA,0.0,0.0,E M E F AMAZONIA,Norte,1,Em atividade
4,2013,AFUA,15022790,1500305,3,Municipal,0.0,PA,0.0,0.0,E M E F AMELIA HOLANDA,Norte,1,Em atividade